{
  "extends": ["airbnb", "prettier"],
  "parser":"@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "class-methods-use-this": "warn",
    "no-restricted-syntax": "warn",
    "no-await-in-loop": "warn"
  }
}
